.main-container {

}
.content-container {
  width: 300px;
  margin: auto;
  margin-top: 100px;
}
.buttons-container {
  color: red;
  text-align: center;
}
button {
  text-align: center;
  display: block;
  width: 300px;
  margin: auto;
}
.account-button {
  float: left;
  width: 150px;
}
input {
  text-align: center;
  width: 296px;
}
.logo-container{
  font-size: 35px;
  text-align: center;
  padding-bottom: 50px;
}
.logo-container p {
  margin: 0px;
}
