/* Home page CSS */
.home-main-container {

}
.home-content-container {
  width: 300px;
  margin: auto;
  margin-top: 100px;
}
.home-logo-container{
  font-size: 35px;
  text-align: center;
  padding-bottom: 50px;
}
.home-logo-container p {
  margin: 0px;
}
.home-buttons-container {
  color: red;
  text-align: center;
}
.home-buttons-container button {
  text-align: center;
  display: block;
  width: 300px;
  margin: auto;
}
.home-buttons-container .home-account-button {
  float: left;
  width: 150px;
}
.home-buttons-container input {
  text-align: center;
  width: 296px;
}

/* Lobby page CSS */
.lobby-main-container {

}
.lobby-content-container {
  width: 1000px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.05);
}
.lobby-gamemode-container {
  text-align: center;
}
.lobby-gamemode-container button {
  display: inline;
  width: 457px;
}
.lobby-lobby-id-info {
  text-align: center;
  width: 1000px;
  padding: 25px 0px 10px 0px;
}
.lobby-game-options-container {

}
.lobby-players-container {
  float: left;
}
.lobby-player-cell {
  width: 150px;
  padding-left: 10px;
}
.lobby-ready-button-cell {
  padding: 0px 4px;
}
.lobby-ready-button-cell button {
  width: 50px;
  height: 50px;
  padding: 0px;
  border-radius: 25px;
}
.lobby-nation-options-container {
  float: right;
  text-align: center;
}
.lobby-nation-options-container table {
  width: 775px;
  padding-top: 10px;
}
.lobby-nation-options-container table tr td {
  padding: 10px 0px;
}
.lobby-nation-options-container table tr td div {
  width: 200px;
  display: inline-block;
}
.lobby-nation-options-container table tr td button {
  width: 30px;
  height: 30px;
  display: inline-block;
}
.lobby-nation-points-cell {

}
.lobby-prelaunch-container {
  display: block;
}
.lobby-prelaunch-container p {
  width: 1000px;
  text-align: center;
  padding-bottom: 20px;
}
.lobby-prelaunch-button {
  display: block;
  width: 1000px;
  margin: auto;
}
.game-playerTable td {
  opacity: 0.2;
  border: 1px solid #333;
  padding: 5px;
  background-color: black;
}
.game-playerTable:hover td {
  opacity: 100;
}
.game-content-container {
}
.game-stats-container {
  position: absolute;
}
.game-playtime-container {
  font-size: 25px;
}
.game-playfield-container {
  position: relative;
  background-color: none;
  margin: auto;
}
.game-canvas {
  position: absolute;
  margin: auto;
}
.game-playerTable {

}
