.main-container {

}
.content-container {
  width: 1000px;
  margin: auto;
  background-color: blue;
}
.game-options-container {

}
.gameMode-container {
  text-align: center;
}
.game-mode-container button {
  display: inline;
  width: 457px;
}
.players-container {
  width: 200px;
  background-color: red;
  float: left;
}
.player-cell {
  width: 150px;
}
.ready-button-cell {
}
.ready-button-cell button {
  width: 50px;
  height: 50px;
  padding: 0px;
  border-radius: 25px;
}
.nation-options-container {
  width: 800px;
  background-color: green;
  float: right;
}
.prelaunch-container {
  display: block;
}
.prelaunch-button {
  display: block;
  width: 1000px;
  margin: auto;
}
